body {
  font-family: "Lucida Console", "Courier New", monospace;
  line-height: 1.3em;
  background-image:  url("protruding-squares.svg");
  /* background by SVGBackgrounds.com */

}

.pRow {
  display: grid;
  border: 1px solid black;
  grid-template-columns: 45% 45%;
  padding: 1em;
}
.graph {
  align-self: center;
  justify-self: center;
  z-index: -1;
  padding: 0.5em;
}

.code {
  display: grid;
  grid-template-rows: 1fr 1fr;
  <!-- align-self: center;
  justify-self: left; -->
}
.comment {
  border: 1px solid black;
  /* border-bottom: 4px double red;
  border-top: 4px double red; */
  border: 4px outset grey;
  padding: 1em;
  padding-top: 2em;
  width: 90%;
  margin: 5px;
  /* background-color: #effffe; */
  background-color: #fffde2;
  /* opacity: 1; */
  background-image:  linear-gradient(#f6f6ff 2px, transparent 2px), linear-gradient(90deg, #f6f6ff 2px, transparent 2px), linear-gradient(#f6f6ff 1px, transparent 1px), linear-gradient(90deg, #f6f6ff 1px, #fffde2 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
.pythonCode {
  margin-top: 0.25em;
  padding: 0.5em;
  border: 1px solid red;
}
.setup{
  background-color: #F9F9EA;
  padding: 0.25em;
  width: 50em;
  margin-bottom: 1em;
  border: 4px inset #118F92;
}
.toggle-next {
  width: 12em;
  margin: 2px;
  color: blue;
  padding-top: 0.4em;
}
.toggle-next:hover {
  cursor: pointer;
  background-color: #bbbbff;
}

.assignment {
  border: 1px solid black;
  margin-top: 1em;
  padding: 0.25em;
}
.instruction {
  font-family: "Trebuchet MS";
  text-indent: 1em;
}
.instruction:hover {
  background-color: lightblue;
}

table, th, td {
  border: 1px solid green;
}
/* zebra striping */
tbody tr:nth-child(odd) {
  background-color: #F9F9EA;
}
tbody tr:nth-child(even) {
  background-color: white;
}
/* tbody tr {
  background-image: url(noise.png);
} */
table {
  background-color: #ff33cc;
}
td {
  padding: 0.25em;
  vertical-align: top;
}
code {
  background-color: #ccc;
}

.myButton {
  background-color: Chartreuse;
  border: 3px inset grey;
  cursor: pointer;
}
.myButton:hover {
  border: 3px outset grey;
}

.logic_statement {
  margin-left:3em;
  padding: 0.5em;
  border: 1px solid grey;
  line-height: 1.5em;
  font-family: "Georgia", serif;
  text-align: center;
}

li {
  margin-bottom: 0.5em;

}

.bodyTable tbody td:nth-child(1) {
  background-color: white;
  vertical-align: top;
  border: 5px inset green;
}
.bodyTable tbody td:nth-child(2) {
  background-color: khaki;
}
.bodyTable tr {
  border: 5px inset green;

}

code {
  padding: 0.2em;
  border: 1px solid #272822;

  /* background-color: darkblue; */
  /* color: white; */
}

.codeNote {
  display: block;
  padding-left: 1em;
  text-indent: -1em;
}

.dropdownSide {
  cursor: pointer;
}
.outputCell {
  padding-top: 4em;
}

.nav a {
  border: 4px outset lightSeaGreen;
  padding: 0.25em;
  background-color: #64E764;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Times New Roman', serif;
}

.uGraph{
  background-color: white;
  border: 1px solid grey;
}

.answerField {
  background-color: PaleTurquoise;
}

.mainTable {
  display: grid;
  /* grid-template-columns: repeat(2,  minmax(100px, 1.2fr)); */
  grid-template-columns: 1.4fr 1fr;
  grid-row-gap: 1em;
  padding-top: 1em;
  padding-left: 1em;
}

.gridHeader {
  text-align: center;
  font-weight: bold;
}
.command {
  position: relative;
  left: 2em;
  width: 90%;
}

p {
  line-height: 1.75;
}

li {
  line-height: 1.5;
}

.ledStrip {
  display: grid;
  grid-template-columns: repeat(20,  15px);
  border: 1px solid black;
  width: 300px;
  padding: 5px;
}
.led {
  position: relative;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  background-color: black;
  display: inline-block;
  border-radius: 4px;
  margin-right: 1px;
}

.imgDiv {
  /* width: 95%; */
}
figcaption {
  font-style: italic;
  font-size: small;
}

figure {
  border: 1px solid black;
  padding: 5px;
}

h1 {
  line-height: 1.25;
}
h2 {
  padding: 1em;
}
.intro {
  background-color: white;
  padding: 1em;
  width: 95%;
  border: 4px inset grey;
}

.alertNote {
  background-color: yellow;
  border: 2px solid black;
  width: 90%;
  padding: 1em;
}
