body {
  font-family: "Lucida Console", "Courier New", monospace;
  line-height: 1.3em;
}

.pRow {
  display: grid;
  border: 1px solid black;
  grid-template-columns: 45% 45%;
  padding: 1em;
}
.graph {
  align-self: center;
  justify-self: center;
  z-index: -1;
  padding: 0.5em;
}

.code {
  display: grid;
  grid-template-rows: 1fr 1fr;
  <!-- align-self: center;
  justify-self: left; -->
}
.comment {
  /* border: 1px solid black; */
  padding: 1em;
  width: 90%;
}
.pythonCode {
  margin-top: 0.25em;
  padding: 0.5em;
  border: 1px solid red;
}
.setup{
  background-color: PaleGoldenrod;
  padding: 0.25em;
  width: 50em;
  margin-bottom: 1em;
}
.toggle-next {
  width: 12em;
  margin: 2px;
  color: blue;
}
.toggle-next:hover {
  cursor: pointer;
  background-color: #bbbbff;
}

table, th, td {
  border: 1px solid green;
}
/* zebra striping */
tbody tr:nth-child(odd) {
  background-color: khaki;
}
tbody tr:nth-child(even) {
  background-color: white;
}
/* tbody tr {
  background-image: url(noise.png);
} */
table {
  background-color: #ff33cc;
}
td {
  padding: 0.25em;
  vertical-align: top;
}
code {
  background-color: #ccc;
}

.myButton {
  background-color: Chartreuse;
  border: 3px inset grey;
  cursor: pointer;
}
.myButton:hover {
  border: 3px outset grey;
}

.logic_statement {
  margin-left:3em;
  padding: 0.5em;
  border: 1px solid grey;
  line-height: 1.5em;
  font-family: "Georgia", serif;
  text-align: center;
}

li {
  margin-bottom: 0.5em;

}

.bodyTable tbody td:nth-child(1) {
  background-color: white;
  vertical-align: top;
  border: 5px inset green;
}
.bodyTable tbody td:nth-child(2) {
  background-color: khaki;
}
.bodyTable tr {
  border: 5px inset green;

}

code {
  padding: 0.2em;
}

.codeNote {
  display: block;
  padding-left: 1em;
  text-indent: -1em;
}

.dropdownSide {
  cursor: pointer;
}
.outputCell {
  padding-top: 4em;
}
