body {
  font-family: "Lucida Console", "Courier New", monospace;
  line-height: 1.3em;
}
.box {
  display: flex;
}

#sidebar {
  width: 15%;
  position: fixed;
  top: 0em;
  font-size: 0.75em;
  border: 4px outset red;
  padding: 0.25em;
}
#mainPage {
  margin-left: 18%;
  postion: relative;
  width: 90%;
}
code {
  background-color: #ddd;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
table, td, th {
  /* background-color: khaki; */
  border: 1px solid black;
}
ol {
  padding-left: 2em;
  /* list-style: none; */
}
li {
  padding-top: 0.3em;
}
h1, h2, h3, h4 {
  padding-left: 1em;
}
.section, .subsection{
  border: 1px solid black;
  padding: 1em;
  margin-top: 1em;
}
.subsection {
  border: 1px solid blue;
}
.dropdownSide {
  cursor: pointer;
}
